@using Microsoft.AspNetCore.Identity
@model WorkQuality.Models.RolesViewModels.ChangeRoleViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Зміна ролей для користувача @Model.UserEmail</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
            @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />

            @role.Name <br />
        }
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
    <p>
        <a asp-action="Users">Назад до списку користувачів</a>
    </p>
</form>
@{
}
