@model WorkQuality.Models.Assessment

@{
    ViewData["Title"] = "Details";
}

<h1>Подробиці</h1>

<div>
    <h4>Оцінювання</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-6 dtElement">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-6 ddElement">
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt class = "col-sm-6 dtElement">
            @Html.DisplayNameFor(model => model.AssessDate)
        </dt>
        <dd class = "col-sm-6 ddElement">
            @Html.DisplayFor(model => model.AssessDate)
        </dd>
        <dt class = "col-sm-6 dtElement">
            @Html.DisplayNameFor(model => model.TechnicalKnowledgeScore)
        </dt>
        <dd class = "col-sm-6 ddElement">
            @Html.DisplayFor(model => model.TechnicalKnowledgeScore)
        </dd>
        <dt class = "col-sm-6 dtElement">
            @Html.DisplayNameFor(model => model.AbilityToApplyTechnicalKnowledgeScore)
        </dt>
        <dd class = "col-sm-6 ddElement">
            @Html.DisplayFor(model => model.AbilityToApplyTechnicalKnowledgeScore)
        </dd>
        <dt class = "col-sm-6 dtElement">
            @Html.DisplayNameFor(model => model.NumberAndSeverityOfErrorsScore)
        </dt>
        <dd class = "col-sm-6 ddElement">
            @Html.DisplayFor(model => model.NumberAndSeverityOfErrorsScore)
        </dd>
        <dt class = "col-sm-6 dtElement">
            @Html.DisplayNameFor(model => model.CreativityOfSolutionsScore)
        </dt>
        <dd class = "col-sm-6 ddElement">
            @Html.DisplayFor(model => model.CreativityOfSolutionsScore)
        </dd>
        <dt class = "col-sm-6 dtElement">
            @Html.DisplayNameFor(model => model.ComplianceOfWorkWithRequirementsScore)
        </dt>
        <dd class = "col-sm-6 ddElement">
            @Html.DisplayFor(model => model.ComplianceOfWorkWithRequirementsScore)
        </dd>
        <dt class = "col-sm-6 dtElement">
            @Html.DisplayNameFor(model => model.ProductivityScore)
        </dt>
        <dd class = "col-sm-6 ddElement">
            @Html.DisplayFor(model => model.ProductivityScore)
        </dd>
        <dt class = "col-sm-6 dtElement">
            @Html.DisplayNameFor(model => model.TeamworkScore)
        </dt>
        <dd class = "col-sm-6 ddElement">
            @Html.DisplayFor(model => model.TeamworkScore)
        </dd>
        <dt class = "col-sm-6 dtElement">
            @Html.DisplayNameFor(model => model.ProjectManagementSkillsScore)
        </dt>
        <dd class = "col-sm-6 ddElement">
            @Html.DisplayFor(model => model.ProjectManagementSkillsScore)
        </dd>
        <dt class = "col-sm-6 dtElement">
            @Html.DisplayNameFor(model => model.TrainingAndDevelopmentScore)
        </dt>
        <dd class = "col-sm-6 ddElement">
            @Html.DisplayFor(model => model.TrainingAndDevelopmentScore)
        </dd>
        <dt class = "col-sm-6 dtElement">
            @Html.DisplayNameFor(model => model.ContributionToOverallGoalsScore)
        </dt>
        <dd class = "col-sm-6 ddElement">
            @Html.DisplayFor(model => model.ContributionToOverallGoalsScore)
        </dd>
        <dt class = "col-sm-6 dtElement">
            @Html.DisplayNameFor(model => model.QualityCustomerServiceScore)
        </dt>
        <dd class = "col-sm-6 ddElement">
            @Html.DisplayFor(model => model.QualityCustomerServiceScore)
        </dd>
        <dt class = "col-sm-6 dtElement">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-6 ddElement">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Змінити</a> @* | *@
    <a asp-action="Index" class="btn btn-primary">Повернутись до списку</a>
</div>
