@model WorkQuality.Models.Assessment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assessment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicalKnowledgeScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicalKnowledgeScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbilityToApplyTechnicalKnowledgeScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbilityToApplyTechnicalKnowledgeScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectManagementSkillsScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectManagementSkillsScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualityCustomerServiceScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualityCustomerServiceScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
