@model IEnumerable<WorkQuality.Models.Assessment>

@{
    ViewData["Title"] = "Index";
}

<h1>Оцінювання</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssessDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicalKnowledgeScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbilityToApplyTechnicalKnowledgeScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberAndSeverityOfErrorsScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreativityOfSolutionsScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplianceOfWorkWithRequirementsScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductivityScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamworkScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManagementSkillsScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingAndDevelopmentScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContributionToOverallGoalsScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualityCustomerServiceScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @* @Html.DisplayFor(modelItem => item.Employee.Id) *@
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssessDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicalKnowledgeScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbilityToApplyTechnicalKnowledgeScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberAndSeverityOfErrorsScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreativityOfSolutionsScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplianceOfWorkWithRequirementsScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductivityScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamworkScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectManagementSkillsScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingAndDevelopmentScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContributionToOverallGoalsScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualityCustomerServiceScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
