@model IEnumerable<WorkQuality.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Працівники</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Створити</a>
</p>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробиці</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Вилучити</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

@foreach (var item in Model)
{
    <div class="workCard">
        <a asp-action="Details" asp-route-id="@item.Id">
            <div class="item">
                <div class="item__parameter">@Html.DisplayNameFor(model => model.FullName)</div>
                <div class="item__value"><strong>@item.FullName</strong></div>
                <div class="item__parameter">@Html.DisplayNameFor(model => model.Job)</div>
                <div class="item__value"><strong>@item.Job.Name</strong></div>
            </div>
        </a>
        <div class="workLinks">
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Змінити</a>
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Вилучити</a>
        </div>
    </div>
}
