@model WorkQuality.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h1>Подробиці</h1>

<div>
    <h4>Посада</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TechnicalKnowledgePriorityCoefficient)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.TechnicalKnowledgePriorityCoefficient)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.AbilityToApplyTechnicalKnowledgePriorityCoefficient)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.AbilityToApplyTechnicalKnowledgePriorityCoefficient)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.NumberAndSeverityOfErrorsPriorityCoefficient)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.NumberAndSeverityOfErrorsPriorityCoefficient)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.CreativityOfSolutionsPriorityCoefficient)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.CreativityOfSolutionsPriorityCoefficient)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ComplianceOfWorkWithRequirementsPriorityCoefficient)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ComplianceOfWorkWithRequirementsPriorityCoefficient)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ProductivityPriorityCoefficient)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ProductivityPriorityCoefficient)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TeamworkPriorityCoefficient)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.TeamworkPriorityCoefficient)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ProjectManagementSkillsPriorityCoefficient)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ProjectManagementSkillsPriorityCoefficient)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TrainingAndDevelopmentPriorityCoefficient)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.TrainingAndDevelopmentPriorityCoefficient)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ContributionToOverallGoalsPriorityCoefficient)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ContributionToOverallGoalsPriorityCoefficient)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.QualityCustomerServicePriorityCoefficient)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.QualityCustomerServicePriorityCoefficient)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Змінити</a> @* | *@
    <a asp-action="Index" class="btn btn-primary">Повернутись до списку</a>
</div>
