@model IEnumerable<WorkQuality.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>Посади</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicalKnowledgePriorityCoefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbilityToApplyTechnicalKnowledgePriorityCoefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberAndSeverityOfErrorsPriorityCoefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreativityOfSolutionsPriorityCoefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplianceOfWorkWithRequirementsPriorityCoefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductivityPriorityCoefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamworkPriorityCoefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManagementSkillsPriorityCoefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingAndDevelopmentPriorityCoefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContributionToOverallGoalsPriorityCoefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualityCustomerServicePriorityCoefficient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicalKnowledgePriorityCoefficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbilityToApplyTechnicalKnowledgePriorityCoefficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberAndSeverityOfErrorsPriorityCoefficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreativityOfSolutionsPriorityCoefficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplianceOfWorkWithRequirementsPriorityCoefficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductivityPriorityCoefficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamworkPriorityCoefficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectManagementSkillsPriorityCoefficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingAndDevelopmentPriorityCoefficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContributionToOverallGoalsPriorityCoefficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualityCustomerServicePriorityCoefficient)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
